
*{
  margin: 0px;
  padding: 0px;
}

.header_nav_lista{
  display: flex;
  justify-content: space-evenly;
  list-style: none;

}

.header_nav_lista li{
  padding: 0px 10px;
 }

.header_nav{
  display: flex;
  justify-content: space-between;
}
.oferta img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.header_title{
  display: inline-block;
}


.body{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  align-content: baseline;
  padding: 0px 25px;

}

.equipos{
 /* background-color: aqua;*/
  padding: 30px 10px;
  
}

.equipos img {
  width: 350px;
  height: 350px;
  border: solid 1px;
  border-radius: 5px;
  object-fit: cover;
}

.equipos{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.header {
 
  grid-area: header;
}
.titulo {
  grid-area: titulo;
}

.barra {
  grid-area: barra;
}
.oferta {
  grid-area: oferta;
}
.body {
  grid-area: body;
}
.oferta{
  grid-area: oferta;
}

.footer{
  grid-area: footer;
}
.grid {
  display: grid;
  gap: 1px;
  grid-template:
    "header" "barra" auto
    "oferta"  auto
    "titulo" auto
    "body" auto
    "footer" auto
}
footer {
  position:sticky;
  left:0px;
  bottom:0px;
  height:auto;
  width:100%;
  background:#999;
}
footer > h3 {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.title {
  text-align: left;
  font-size: 40px;
}

@media (max-width:800px) {
  .grid > * {
      border-radius: 4px;
      padding: 1px;
      text-align: center;
    }

    .header_nav_lista{
      flex-direction: column;
    }


.grid {
  grid-template:
    "header" 
    "barra"
    "titulo"  
    "body" 
    "footer" 
}
}