* {
  margin: 0px;
  padding: 0px;

}

.header_nav_lista {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.header_nav_lista li {
  padding: 0px 10px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
}

.oferta img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.header_title {
  display: inline-block;
}

.body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: baseline;

  gap: 70px;
  grid-area: body;
  justify-content: center;
  padding-bottom: 30px;
  padding-right: 50PX ;
  padding-left: 50PX ;
}


.equipos img {
  width: 350px;
  height: 350px;
  border: solid 1px;
  border-radius: 5px;
  object-fit: cover;
}




.equipos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

h2 {
  padding: 20px;
  text-align: center;
}

.header {
  padding: 15px 10px 0px 10px;
  grid-area: header;
}

.titulo {
  grid-area: titulo;
}

.barra {
  grid-area: barra;
}

.oferta {
  grid-area: oferta;
}

.footer {
  grid-area: footer;
}

.grid {
  display: grid;
  gap: 1px;
  grid-template:
    "header"
    "barra"
    "oferta"
    "titulo"
    "body"
    "footer"
}



.title {
  text-align: left;
  font-size: 40px;
}

/* footer*/


footer {
  width: 100%;
  background: #202020;
  color: white;

}

.container-footer-all {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 40px;
}

.container-body {
  display: flex;
  justify-content: space-between;

}

.colum1 {
  max-width: 400px;
}

.colum1 h1 {
  font-size: 22px;
}

.colum1 p {
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}

.colum2 {
  max-width: 600px;

}

.colum2 h1 {
  font-size: 22px;
}

.row {
  margin-top: 20px;
  display: flex;
}

.row img {
  width: 36px;
  height: 36px;
}

.row label {
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
}

.colum3 {
  max-width: 400px;
}

.colum3 h1 {
  font-size: 22px;
}

.row2 {
  margin-top: 20px;
  display: flex;
}

.row2 img {
  width: 36px;
  height: 36px;
}

.row2 label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer {
  width: 100%;
  background: #101010;
}


.copyright {
  color: #C7C7C7;
}

.copyright a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a {
  text-decoration: none;
  color: #C7C7C7;
}

.oferta{
  grid-area: oferta;
}



.catalogo-body{
  grid-area: catalogo-body;
}


@media (max-width:800px) {
  .container-body {
    flex-wrap: wrap;
  }

  .colum1 {
    max-width: 100%;
  }

  .colum2,
  .colum3 {
    margin-top: 20px;
  }

  .grid>* {
    border-radius: 4px;
    padding: 1px;
    text-align: center;
  }

  .header_nav {
    display: flex;
    flex-direction: column;
  }


  .header_nav_lista {
    flex-direction: column;
    padding: 0;
  }

  .header_nav_lista li {
    padding: 0px;
  }

  .oferta img {
    height: 0;
    width: 0;
  }

  .btn-1 {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  .header {

    grid-area: header;
  }


  .grid {
    grid-template:
      "header"
      "barra"
      "titulo"
      "body"
      "footer"
  }

  .grid-contacto {
    grid-template:
      "header"
      "caja"
      "footer"
  }

  .grid-catalogo {
    grid-template:
      "header"
      "catalogo-body"
      "footer"
  }
}

/* contacto */

.caja{
  padding: 50px;
  color: #101010 !important;
  
}

.row label {

    color: black;
    font-size: 16px;
}
.services{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: baseline;

  gap: 30px;
  grid-area: body;
  justify-content: center;
  padding-bottom: 30px;
  padding: 50px 0px;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;


}
.size {
  width: 300px !important;
  height: 300px !important;
  border: solid 1px;
  border-radius: 5px;
  object-fit: cover;
}
.card-body{
  width: 300px !important;
  height: 300px !important;

}

.row label {
  margin-top: 0px;

}
